@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;800&display=swap");
html {
  /* 
      https://www.freecodecamp.org/news/override-root-font-size-for-a-better-user-experience/
      browser default font size: 16px
      10px/16px = 0.625 -> 62.5% 
      百分比可以套用所有 root px，因為 root px 會變動
      rem = root font size 
  */
  font-size: 62.5%; /* 1rem  = 10px */
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 3rem;
  width: 90%;
  height: 100vh;
  margin: auto;
  background-color: #f3ebe3;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn {
  cursor: pointer;
  width: 13rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #133416;
  color: #fff;
  border: 1px solid #6c6c6c;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #54ac7d;
  border: 1px solid #beb9b8;
}

.text__title {
  font-size: 6rem;
  font-weight: 800;
  word-spacing: 0.5rem;
  line-height: 1.3;
}
.text__title--dark {
  color: #251c3b;
}
.text__title--yellow {
  color: #f7b300;
}
.text__sub {
  font-size: 1.6rem;
  font-weight: 300;
  color: #6c6c6c;
}

.navigation {
  font-size: 1.6rem;
  color: #6c6c6c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
.navigation__logo {
  margin-right: 2rem;
}
.navigation__list {
  list-style: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.navigation__item {
  cursor: pointer;
  margin-right: 2rem;
  white-space: nowrap;
  transition: all 0.3s;
}
.navigation__item:hover {
  color: #beb9b8;
}
.navigation__item__products {
  position: relative;
}
.navigation__item__products:hover .navigation__popup {
  display: block;
}
.navigation__sign-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__menu {
  cursor: pointer;
  display: none;
}
.navigation__popup {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 4rem;
  left: -2.5rem;
  width: 35rem;
  border-radius: 1.8rem;
  padding: 2rem;
  font-size: 1.3rem;
}

.popup {
  width: 100%;
}
.popup__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #beb9b8;
}
.popup__header__close {
  display: none;
  cursor: pointer;
  width: 2rem;
}
.popup__item {
  display: flex;
  flex-direction: row;
  align-items: start;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.popup__item__text__content {
  margin-left: 0.5rem;
  white-space: normal;
}
.popup__item__text {
  margin-bottom: 0.5rem;
}
.popup__item__title {
  color: #251c3b;
}
.popup__item__sub {
  color: #6c6c6c;
}

.content {
  flex: 2.5;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}
.content__text {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3rem 0;
  gap: 5%;
}
.content__btn {
  margin: 0.8rem 0;
}
.content__icon {
  margin: 0 1rem;
}
.content__review {
  display: flex;
  align-items: center;
}
.content__img {
  display: flex;
  justify-content: end;
}
.content__img__hero {
  width: 38rem;
  height: 44rem;
}

.footer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.footer__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.footer__brand__img {
  display: block;
  width: 18rem;
  height: 8rem;
  margin: 0.5rem 2rem;
}

/* Bootstrap breakpoints 
   576 768 992 1200 1400
    sm  md  lg   xl  xxl
*/
@media screen and (max-width: 992px) {
  .text__title {
    font-size: 3.8rem;
  }
  .content {
    flex: 2;
  }
  .content__text {
    padding: 1.5rem 0;
  }
  .content__img__hero {
    width: 28rem;
    height: 32rem;
  }
  .footer {
    margin-top: 0rem;
  }
  .footer__brand__img {
    width: 15rem;
    height: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .text__title {
    font-size: 4rem;
  }
  .navigation__nav {
    display: none;
  }
  .navigation__sign-area {
    display: none;
  }
  .navigation__menu {
    display: block;
  }
  .content {
    flex: 1;
    align-content: start;
  }
  .content__img__hero {
    display: none;
  }
  .footer__brand__img {
    width: 20rem;
    height: 10rem;
  }
}
@media screen and (max-width: 620px) {
  .text__title {
    font-size: 3.8rem;
  }
  .footer__brand__img {
    width: 15rem;
    height: 5rem;
  }
}
@media screen and (max-width: 490px) {
  .text__title {
    font-size: 3.5rem;
  }
  .footer__brand__img {
    width: 14rem;
  }
}
@media screen and (max-width: 465px) {
  text__title {
    font-size: 2.8rem;
  }
  .footer__brand__img {
    width: 12rem;
  }
}
@media screen and (max-width: 425px) {
  text__title {
    font-size: 2.8rem;
  }
  .footer__brand__img {
    width: 10rem;
  }
}
@media screen and (max-width: 388px) {
  .footer__brand__img {
    width: 10rem;
    margin: 0.3rem 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
