
// color
$color-primary: #f3ebe3;
$color-white: #fff;
$color-dark: #251c3b;
$color-light-grey: #beb9b8;
$color-dark-grey: #6c6c6c;
$color-dark-green: #133416;
$color-light-green: #54ac7d;
$color-yellow: #f7b300;


// font
$default-font-size: 1.6rem;