.navigation {
    font-size: 1.6rem;
    color: $color-dark-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

    &__logo {
        margin-right: 2rem;
    }

    &__list {
        list-style: none;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    &__item {
        cursor: pointer;
        margin-right: 2rem;
        white-space: nowrap;
        transition: all 0.3s;

        &:hover {
            color: $color-light-grey;
        }

        &__products {
            position: relative;

            &:hover {
                .navigation__popup {
                    display: block;
                }
            }

        }
    }

    &__sign-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        cursor: pointer;
        display: none;
    }

    &__popup {
        display: none;
        position: absolute;
        background-color: $color-white;
        top: 4rem;
        left: -2.5rem;
        width: 35rem;
        border-radius: 1.8rem;
        padding: 2rem;
        font-size: 1.3rem;

    }
    
}

.popup {
   width: 100%;
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        color: $color-light-grey;
       
        &__close {
            display: none;
            cursor: pointer;
            width: 2rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: start;
        font-size: 1.5rem;
        margin: 1rem 0;
       
        &__text__content {
            margin-left: 0.5rem;
            white-space: normal;
        }

        &__text {
            margin-bottom: 0.5rem;
        }
        
        &__title {
            color: $color-dark;
        }
       
        &__sub {
            color: $color-dark-grey;
        }
    }
}



